body {
    background-color: #f8f9fa;
}
h2 {
    margin-bottom: 30px;
    text-align: center;
    color: rgb(89, 167, 93);
}
button {
    width: 150px;
    height: 40px;
    background-color: rgb(89, 167, 93);
    font-size: 1.1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
textarea {
    width: 100%;
    margin-bottom: 20px;
}
.profile {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.profile-form-top-row {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.timeline {
    box-sizing: border-box;
    padding-top: 50px;
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
}
.timeline__post {
    width: 400px;
    background-color: #ececec;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.post-info-block {
    display: flex;
    justify-content: space-between;
}
.post-text {
    margin: 20px 0px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.post-reactions {
    display: flex;
}
.post-reactions svg {
    height: 20px;
    margin-right: 20px;
    color: #b8b8b8
}
#heart:hover {
    color: red
}
#bin:hover, #bin:active {
    color: rgb(89, 167, 93);
}